.header__container{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    /* width: 90%; */
    margin: auto 50px;
}
.header__logo{
    height: 100px;
    object-fit: contain;
}
.header__center{
    display: flex;
    align-items: center;
    max-width: fit-content;
    border: 1px solid lightgrey;
    border-radius: 300px;
    padding: 12px 20px;
    padding-right: 12px;
}
.header__center > input{
    min-width: 200px;
    max-width: 250px;
    border: none;
    outline: none;
}
.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
}
.header__right> p,.header__right>div,.header__right>svg{
    margin-right: 5px;
}